.entire-bg
{
  background-image: url("homepagebg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oswald", sans-serif;
}
.fitgen-logo
{
  height: 30px;
  width: 100px;
}
.canvas-btn
{
  background-color: Black;
  border: 1px solid #ccc;
}
.hb-icon
{
  height: 30px;
  width: 30px;
}
.greet
{
  font-size: 30px;
}
.link
{
  font-size: 15px;
}
.link:hover {
    font-size: 18px;
    background-color: #ccc;

}
.hdn_form
{
  diplay: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hdn
{
  position: absolute;
  padding: 10px 20px;
  margin-top: 100px;
  margin-left: 60px;
  font-weight: bold;
  color: Black;
  background-color: rgba(0, 255, 0, 0.5);
}
.BMI-section
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BMI-calc
{
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 500px;
  max-width: 500px;
  height: 300px;
  max-height: 800px;
  margin-top: 200px;
  padding-top: 50px;
}
.btn_section
{
  display: flex;
  justify-content: center;
  margin-top : 20px;
}
.calc-btn {
  background-color: Black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.calc-btn:hover {
  background-color: Grey;
}
