.logo_container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
  padding-left: 50px;
}
.home-card
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vw;
  margin-left: 80px;
}
.logo_card
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 80%;
  height: 74%;
}
.title
{
  font-size: 150px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.sub-title
{
  font-size: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.ca_btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 75px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.ca_btn:hover {
  background-color: rgb(29 ,155 ,240);
}
.si_btn {
  font-weight: bold;
  padding: 5px 100px;
  background-color: White; /* Button background color */
  color: Black; /* Button text color */
  border: 1px solid rgb(189 ,225 ,255);
  border-radius: 30px;
  cursor: pointer;
}
.si_btn:hover {
  background-color: rgb(189 ,225 ,255);
}
.si-capt
{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.separator-line {
  flex: 1;
  height: 1px;
  background-color: #ccc; /* Line color */
  margin: 0 10px; /* Adjust margin as needed */
}

.separator-text {
  font-weight: bold;
  color: #333; /* Text color */
  margin: 0 5px; /* Adjust margin as needed */
}
