.signup_hdn {
    font-family: "Oswald", sans-serif; 
    font-size: 32px; 
    font-weight: bold; 
    color: #007bff;   
    text-align: center;
    margin-top: 10px; 
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}
label {
    
    font-weight: bold;
    margin-bottom: 5px;
}
.input
{
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    padding: 5px;
    width: 100%;
}
.dob_gender {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
}
.dob_section, .gender_section
{
    display: flex;
    flex-direction: column;
    margin : 10px;
}

.signup_btn
{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.signup_btn:hover
{
    background-color: #0056b3;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
